body {
    text-align: center;
    background-image: url("images/nightsky.jpg");
    background-repeat: no-repeat;
}

h1 {
    color: white;
    font-size: 65px;
    text-align: center;
}

.display-player {
    color: yellow;
}

.button {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    justify-content: center;
}

.cell {
    width: 135px;
    height: 135px;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell.earth {
    background-image: url("images/earth1.png");
    background-size: 120px 120px;
    align-items: center;
    justify-content: center;
    background-position: center; 
}

.cell.rona {
    background-image: url("images/rona2.png");
    background-size: 130px 130px;
    align-items: center;
    justify-content: center;
    background-position: center; 
}

/* REMOVING BORDER */
.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
    border-right: none;
}


